* {
    scroll-behavior: smooth;
}

.returnToTop {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    z-index: 100;
    background-color: #e22104;
}

.returnToTop a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.returnToTop a svg {
    height: 30px;
    color: var(--fontColorLight);
}

.addDish {
    cursor: pointer;
}

.del svg {
    width: 15px;
    height: 15px;
}